{
    "openapi": "3.0.0",
    "info": {
        "title": "Chiptaol API Documentation",
        "description": "Open API Documentation for https://chiptaol.uz",
        "contact": {
            "email": "bakhadyrovf@gmail.com"
        },
        "version": "3.0.0"
    },
    "servers": [
        {
            "url": "https://chiptaol.uz"
        }
    ],
    "paths": {
        "/api/cinemas": {
            "get": {
                "tags": [
                    "Cinemas"
                ],
                "summary": "Get a list of all cinemas",
                "operationId": "d4442fa37f46d2f9df418f697dd88075",
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/cinemas)"
                    }
                }
            }
        },
        "/api/cinemas/nearest": {
            "get": {
                "tags": [
                    "Cinemas"
                ],
                "summary": "Get a list of nearest cinemas",
                "operationId": "cd2ce9ec2055063defa0312e6e47611d",
                "parameters": [
                    {
                        "name": "latitude",
                        "in": "query",
                        "example": 41.2963223
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "example": 69.1933242
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/cinemas-nearest)"
                    }
                }
            }
        },
        "/api/cinemas/{cinema-id}": {
            "get": {
                "tags": [
                    "Cinemas"
                ],
                "summary": "Get a specific cinema",
                "operationId": "c5656e6f338675509aad190432a015e7",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/cinemas-specific)"
                    }
                }
            }
        },
        "/api/dashboard/auth/sign-in": {
            "post": {
                "tags": [
                    "Dashboard Auth"
                ],
                "summary": "Sign in to dashboard",
                "operationId": "b69cea5504457d21d3c4494b21cf3006",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "bakhadyrovfbb@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123455678A"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success (No content)"
                    },
                    "422": {
                        "description": "Email does not exist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Выбранное значение для email некорректно."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid password",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Неверный пароль."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/auth/sign-out": {
            "post": {
                "tags": [
                    "Dashboard Auth"
                ],
                "summary": "Sign out from dashboard",
                "operationId": "1e820e7459fefa1bad97414cb6045c8b",
                "responses": {
                    "204": {
                        "description": "Success (No content)"
                    },
                    "401": {
                        "description": "Unauthenticated (Unauthorized)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Не аутентифицирован."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/me": {
            "get": {
                "tags": [
                    "Dashboard Auth"
                ],
                "summary": "Get the current authenticated user",
                "operationId": "1b03b12995e7221dba46e1b3e6be8d1d",
                "responses": {
                    "200": {
                        "description": "Success (OK)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "email": {
                                            "type": "string",
                                            "example": "bakhadyrovfbb@gmail.com"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2022-08-15T20:19:33.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2022-08-15T20:20:33.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated (Unauthorized)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Не аутентифирован."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/cinemas": {
            "get": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Get a list of cinemas",
                "operationId": "e4720ecf51354fba325c6e5499c38b6a",
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-cinemas)"
                    }
                }
            },
            "post": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Add a new cinema",
                "operationId": "ef37ee8994342a5be4dc67d7da30b6e0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CinemaStoreFormRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-cinemas-specific)"
                    },
                    "422": {
                        "description": "Invalid coordinates (Unproccessable content)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Указаны неверные координаты."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/cinemas/{id}": {
            "get": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Get a specific cinema",
                "operationId": "7bdbab5f92108f33b75d255dd6ffd095",
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-cinemas-specific)"
                    }
                }
            },
            "put": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Update an existing cinema",
                "operationId": "af8c9edc72805febb1340b2c36555c37",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Cinema ID",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CinemaStoreFormRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-cinemas-specific)"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Delete an existing cinema",
                "operationId": "694698dda4361f2605eb5e0c3d609543",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Cinema ID",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success (No Content)"
                    }
                }
            }
        },
        "/api/dashboard/cinemas/logo": {
            "post": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Store a logo for cinema",
                "operationId": "31e209a03530fca8ec951536b101298e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "file": {
                                        "type": "file",
                                        "example": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success (OK)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "929e45b4-084c-4160-b314-13cf7e0407d8"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/formats": {
            "get": {
                "tags": [
                    "Dashboard Halls"
                ],
                "summary": "Get a list of formats",
                "operationId": "cdf7bbbaa70935a53cdcdfc86ac98cfa",
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-formats)"
                    }
                }
            }
        },
        "/api/dashboard/cinemas/{cinema-id}/halls": {
            "get": {
                "tags": [
                    "Dashboard Halls"
                ],
                "summary": "Get a list of halls for specific cinema",
                "operationId": "b4c91652b5486386f67f67b81aea9326",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-halls)"
                    }
                }
            },
            "post": {
                "tags": [
                    "Dashboard Halls"
                ],
                "summary": "Add a new hall for specific cinema",
                "operationId": "d0ca0dcf784044299be4f5baf2c4efb0",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HallStoreFormRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-halls-specific)"
                    }
                }
            }
        },
        "/api/dashboard/cinemas/{cinema-id}/halls/{hall-id}": {
            "get": {
                "tags": [
                    "Dashboard Halls"
                ],
                "summary": "Get a specific hall for specific cinema",
                "operationId": "b52145874e74e25e244acfd17d5785cd",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    },
                    {
                        "$ref": "#/components/parameters/hall-id-path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-halls-specific)"
                    },
                    "404": {
                        "description": "Non exists hall-id (Not Found)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "No query results for model [App\\\\Models\\\\Hall] 6"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Dashboard Halls"
                ],
                "summary": "Update a specific hall for specific cinema",
                "operationId": "fcd4594e9f866b6fc55ac8f0275fa206",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    },
                    {
                        "$ref": "#/components/parameters/hall-id-path"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HallStoreFormRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-halls-specific)"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dashboard Halls"
                ],
                "summary": "Delete a specific hall for specific cinema",
                "operationId": "e7344daaad7444bd71f65b3f8fe033b5",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    },
                    {
                        "$ref": "#/components/parameters/hall-id-path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success (No Content)"
                    }
                }
            }
        },
        "/api/dashboard/movies/search/{title}": {
            "get": {
                "tags": [
                    "Dashboard Seances"
                ],
                "summary": "Get similar movies with provided title",
                "operationId": "76353da88cd0b413eb3f44eba7d0af0e",
                "parameters": [
                    {
                        "name": "title",
                        "in": "path",
                        "required": true,
                        "example": "Мстители"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-movies-search)"
                    },
                    "400": {
                        "description": "Failure (Bad Request)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "TMDB вернул неуспешный ответ, повторите еще раз."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/cinemas/{cinema-id}/seances": {
            "get": {
                "tags": [
                    "Dashboard Seances"
                ],
                "summary": "Get a list of seances for specific cinema",
                "operationId": "8ca656e21297d596c4b97f0aa9ffebf1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-seances)"
                    }
                }
            },
            "post": {
                "tags": [
                    "Dashboard Seances"
                ],
                "summary": "Add a new seance for this cinema halls",
                "operationId": "33403755d2ea5d5ac6d0051457ab9f3c",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SeanceStoreFormRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success (No content)"
                    },
                    "422": {
                        "description": "Invalid prices (Unproccessable content)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Что-то пошло не так при проверке типа кресла и выборе цены, обратите внимание на поля - vip_seat_price, standard_seat_price."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/cinemas/{cinema-id}/seances/{seance-id}": {
            "get": {
                "tags": [
                    "Dashboard Seances"
                ],
                "summary": "Get a specific seance data",
                "operationId": "aa23b70bdf6eb900ab23fb96d55f5b7a",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    },
                    {
                        "$ref": "#/components/parameters/seance-id-path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-seances-specific)"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dashboard Seances"
                ],
                "summary": "Delete specific seance",
                "operationId": "122e0d489da3eb6348ce613925b6be04",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    },
                    {
                        "$ref": "#/components/parameters/seance-id-path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success (No content)"
                    }
                }
            }
        },
        "/api/dashboard/cinemas/{cinema-id}/halls/{hall-id}/seats": {
            "get": {
                "tags": [
                    "Dashboard Halls"
                ],
                "summary": "Get a list of seats for specific hall",
                "operationId": "4ebf16a1346f62dc592ef008d77dfa80",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    },
                    {
                        "$ref": "#/components/parameters/hall-id-path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-seats)"
                    }
                }
            },
            "post": {
                "tags": [
                    "Dashboard Halls"
                ],
                "summary": "Add new seats for specific hall",
                "operationId": "a6abf2e010993879ff47a814a891e33b",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    },
                    {
                        "$ref": "#/components/parameters/hall-id-path"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SeatStoreFormRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success (Created)"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dashboard Halls"
                ],
                "summary": "Delete all seats for specific hall",
                "operationId": "f024f36dbe300f113ecccf938bdd25c1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/cinema-id-path"
                    },
                    {
                        "$ref": "#/components/parameters/hall-id-path"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success (No Content)"
                    }
                }
            }
        },
        "/api/premieres": {
            "get": {
                "tags": [
                    "Premieres"
                ],
                "summary": "Get a list of all premieres for specific day",
                "operationId": "dbe3f1848802a8262371c52be1e0b93d",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/seance-date-query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/premieres-of-the-day)"
                    }
                }
            }
        },
        "/api/premieres/actual": {
            "get": {
                "tags": [
                    "Premieres"
                ],
                "summary": "Get a list of actual premieres",
                "operationId": "f529d09ad4269550dad58d5b54bc6ced",
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/premieres-actual)"
                    }
                }
            }
        },
        "/api/premieres/{id}/movie": {
            "get": {
                "tags": [
                    "Premieres"
                ],
                "summary": "Get an extended data for specific premiere's movie",
                "operationId": "868ba9ebaa8d88ad3dd561eecae44b5d",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/premiere-id-path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/premieres-movie)"
                    }
                }
            }
        },
        "/api/premieres/{id}/seances": {
            "get": {
                "tags": [
                    "Premieres"
                ],
                "summary": "Get a list of seances for specific premiere",
                "operationId": "5cceca328c48f2d774e7a8730fb0839b",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/premiere-id-path"
                    },
                    {
                        "$ref": "#/components/parameters/seance-date-query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/premieres-seances)"
                    }
                }
            }
        },
        "/api/seances/{seance-id}": {
            "get": {
                "tags": [
                    "Seances"
                ],
                "summary": "Get a specific seance data",
                "operationId": "fc1de93abc549f8bba05e45749b580a9",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/seance-id-path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/seances-specific)"
                    }
                }
            }
        },
        "/api/seances/{seance-id}/book": {
            "post": {
                "tags": [
                    "Seances"
                ],
                "summary": "Booking multiple seats for specific seance",
                "operationId": "6395305b2dbb47d5cf3dac4d96f7158c",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/seance-id-path"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SeanceBookFormRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/seances-book)"
                    }
                }
            }
        },
        "api/seances/{ticket-id}/cancel-book": {
            "post": {
                "tags": [
                    "Seances"
                ],
                "summary": "Cancel booking seance seats",
                "operationId": "06f6823fbf226400b4c5a6de77faf104",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ticket-id-path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success (OK)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "integer"
                                            },
                                            "example": "[3,4,5]"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CinemaStoreFormRequest": {
                "required": [
                    "title",
                    "address",
                    "longitude",
                    "latitude",
                    "logo_id"
                ],
                "properties": {
                    "title": {
                        "type": "string",
                        "example": "Magic Cinema"
                    },
                    "address": {
                        "type": "string",
                        "example": "Some-address"
                    },
                    "logo_id": {
                        "type": "string"
                    },
                    "reference_point": {
                        "type": "string",
                        "example": "Cafe castillo olymp"
                    },
                    "longitude": {
                        "type": "numeric",
                        "example": 69.245077
                    },
                    "latitude": {
                        "type": "numeric",
                        "example": 41.326226
                    },
                    "phone": {
                        "description": "Must start with `+998`",
                        "type": "string",
                        "example": "+998909144615"
                    }
                },
                "type": "object"
            },
            "HallStoreFormRequest": {
                "required": [
                    "title",
                    "format_ids"
                ],
                "properties": {
                    "title": {
                        "type": "string",
                        "example": "Зал Номер - 6 (VIP)"
                    },
                    "description": {
                        "type": "string"
                    },
                    "is_vip": {
                        "type": "boolean",
                        "default": false,
                        "example": true
                    },
                    "format_ids": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                },
                "type": "object"
            },
            "SeanceStoreFormRequest": {
                "required": [
                    "movie_id",
                    "seances"
                ],
                "properties": {
                    "movie_id": {
                        "type": "integer",
                        "example": 731491
                    },
                    "seances": {
                        "type": "array",
                        "items": {
                            "required": [
                                "movie_format",
                                "start_date_time",
                                "hall_id"
                            ],
                            "properties": {
                                "movie_format_id": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "start_date_time": {
                                    "description": "format: `Y-m-d H:i`",
                                    "type": "string",
                                    "example": "2022-08-20 20:30"
                                },
                                "hall_id": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "standard_seat_price": {
                                    "description": "required if `vip_seat_price` is null",
                                    "type": "integer",
                                    "example": "3500000"
                                },
                                "vip_seat_price": {
                                    "description": "required if `standard_seat_price` is nul",
                                    "type": "integer",
                                    "example": "5000000"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "SeatStoreFormRequest": {
                "properties": {
                    "seats": {
                        "type": "array",
                        "items": {
                            "required": [
                                "row",
                                "place",
                                "x",
                                "y"
                            ],
                            "properties": {
                                "is_vip": {
                                    "type": "boolean",
                                    "example": true
                                },
                                "row": {
                                    "type": "integer",
                                    "example": 10
                                },
                                "place": {
                                    "type": "integer",
                                    "example": 30
                                },
                                "x": {
                                    "type": "integer",
                                    "example": 335
                                },
                                "y": {
                                    "type": "integer",
                                    "example": 90
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "SeanceBookFormRequest": {
                "required": [
                    "email",
                    "phone",
                    "seat_ids"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "example": "bakhadyrovf@gmail.com"
                    },
                    "phone": {
                        "type": "string",
                        "example": "+998909144615"
                    },
                    "seat_ids": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "example": "[1,2,3,4]"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "cinema-id-path": {
                "name": "cinema-id",
                "in": "path",
                "description": "Cinema ID",
                "required": true
            },
            "hall-id-path": {
                "name": "hall-id",
                "in": "path",
                "description": "Hall ID",
                "required": true
            },
            "seance-id-path": {
                "name": "seance-id",
                "in": "path",
                "required": true,
                "example": 99
            },
            "seance-date-query": {
                "name": "date",
                "in": "query",
                "description": "Format: `Y-m-d`, if not specified today date will be taken.",
                "example": "2022-08-23"
            },
            "premiere-id-path": {
                "name": "id",
                "in": "path",
                "description": "Premiere ID",
                "required": true
            },
            "ticket-id-path": {
                "name": "ticket-id",
                "in": "path",
                "required": true
            }
        }
    }
}