{
    "openapi": "3.0.0",
    "info": {
        "title": "Chiptaol API Documentation",
        "description": "Open API Documentation for https://chiptaol.uz",
        "contact": {
            "email": "bakhadyrovf@gmail.com"
        },
        "version": "3.0.0"
    },
    "servers": [
        {
            "url": "https://chiptaol.uz"
        }
    ],
    "paths": {
        "/api/dashboard/auth/sign-in": {
            "post": {
                "tags": [
                    "Dashboard Auth"
                ],
                "summary": "Sign in to dashboard",
                "operationId": "b69cea5504457d21d3c4494b21cf3006",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "bakhadyrovfbb@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123455678A"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success (No content)"
                    },
                    "422": {
                        "description": "Email does not exist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Выбранное значение для email некорректно."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid password",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Неверный пароль."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/auth/sign-out": {
            "post": {
                "tags": [
                    "Dashboard Auth"
                ],
                "summary": "Sign out from dashboard",
                "operationId": "1e820e7459fefa1bad97414cb6045c8b",
                "responses": {
                    "204": {
                        "description": "Success (No content)"
                    },
                    "401": {
                        "description": "Unauthenticated (Unauthorized)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Не аутентифицирован."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/me": {
            "get": {
                "tags": [
                    "Dashboard Auth"
                ],
                "summary": "Get the current authenticated user",
                "operationId": "1b03b12995e7221dba46e1b3e6be8d1d",
                "responses": {
                    "200": {
                        "description": "Success (OK)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "email": {
                                            "type": "string",
                                            "example": "bakhadyrovfbb@gmail.com"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2022-08-15T20:19:33.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2022-08-15T20:20:33.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated (Unauthorized)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Не аутентифирован."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/cinemas": {
            "get": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Get a list of cinemas",
                "operationId": "e4720ecf51354fba325c6e5499c38b6a",
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-cinemas)"
                    }
                }
            },
            "post": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Add a new cinema",
                "operationId": "ef37ee8994342a5be4dc67d7da30b6e0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CinemaStoreFormRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success (OK)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 7
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid coordinates (Unproccessable content)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Указаны неверные координаты."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashboard/cinemas/{id}": {
            "get": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Get a specific cinema",
                "operationId": "7bdbab5f92108f33b75d255dd6ffd095",
                "responses": {
                    "200": {
                        "description": "Success (OK) [Response](https://api.chiptaol.uz/api/example-responses/dashboard-cinemas-specific)"
                    }
                }
            },
            "put": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Update an existing cinema",
                "operationId": "af8c9edc72805febb1340b2c36555c37",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Cinema ID",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CinemaStoreFormRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success (No Content)"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Delete an existing cinema",
                "operationId": "694698dda4361f2605eb5e0c3d609543",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Cinema ID",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success (No Content)"
                    }
                }
            }
        },
        "/api/dashboard/cinemas/logo": {
            "post": {
                "tags": [
                    "Dashboard Cinemas"
                ],
                "summary": "Store a logo for cinema",
                "operationId": "31e209a03530fca8ec951536b101298e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "file": {
                                        "type": "file",
                                        "example": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success (OK)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "929e45b4-084c-4160-b314-13cf7e0407d8"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CinemaStoreFormRequest": {
                "required": [
                    "title",
                    "address",
                    "longitude",
                    "latitude",
                    "logo_id"
                ],
                "properties": {
                    "title": {
                        "type": "string",
                        "example": "Magic Cinema"
                    },
                    "address": {
                        "type": "string",
                        "example": "Some-address"
                    },
                    "logo_id": {
                        "type": "string"
                    },
                    "reference_point": {
                        "type": "string",
                        "example": "Cafe castillo olymp"
                    },
                    "longitude": {
                        "type": "numeric",
                        "example": 69.245077
                    },
                    "latitude": {
                        "type": "numeric",
                        "example": 41.326226
                    }
                },
                "type": "object"
            }
        }
    }
}